<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486007552882-ajf5b476utc3k8n7n9en18q9om0clecr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486007552882-ajf5b476utc3k8n7n9en18q9om0clecr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8cOvv37AKOnximQ9GZ9wbU1CwnkDMtV4</string>
	<key>GCM_SENDER_ID</key>
	<string>486007552882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudfirebase</string>
	<key>PROJECT_ID</key>
	<string>crud-flutter-68ef9</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-flutter-68ef9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486007552882:ios:f4347790245ba9f5307beb</string>
</dict>
</plist>